<footer class="footer navbar-fixed-bottom" style="background: #F7F7F9">
  <div class="container">
      Kamille's Ratchet Nail Salon |
      November 2016 |
      <a href="https://github.com/Kamilleski/ratchet-nail-salon">💾 Source Code</a> |
      <a href="https://www.linkedin.com/in/kamilledelgardo">♀ About Kamille</a>
  </div>
</footer>
