<nav class="navbar navbar-light navbar-fixed-top bg-faded">
  <a class="navbar-brand" href="/">
    <img src="http://emojipedia-us.s3.amazonaws.com/cache/89/ed/89ed3edad37df4e7fac0304b90f2d0c5.png" width="30" height="30" class="d-inline-block align-top" alt="Site Icon">
    Kamille's Ratchet Nail Salon
  </a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/polishes/new">Add Polish<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/polishes">All Colors</a>
    </li>
  </ul>
</nav>
